@media screen and (min-width: 480px) {
    .hambuger {
      display: none;
      
    }
  }
  
  @media screen and (max-width: 480px) {
    .labels {
      display: none;
    }
  }

 @media screen and (min-width: 600px){
  /* for tablets */
  .header{
    display: none;
  }

 }